body {background-color: #e1f3f8; font-family: 'PT Sans Caption', sans-serif;}
table,td,th {border: 1px solid black;}
header img {display: block; margin-left: auto; margin-right: auto; padding: 15px; max-width: 100%;}
h1, h2, .highlights {text-align: center;}
.intro {text-align: center; background-color: #112e51; color: white; font-size: 1em; padding: 15px; border-radius: 3em; margin-bottom: 50px; margin: 15px;}
.about {text-align: center; background-color: #112e51; color: white; font-size: 1em; padding: 20px; border-radius: 3em; margin-bottom: 50px; margin: 15px;}
.spain {display: flex; flex-wrap: wrap; justify-content: space-around; background-color: #112e51; border-radius: 3em; margin: 15px;}
.spain div {padding: 40px; color: white; text-align: center; font-size: 2em;}
.row1 {display: flex;}
.row1 div {padding: 20px;}
.journalism {background-color: #112e51; color: white; border-radius: 3em;}
.journalism h3 {text-align: center;}
.skills {margin-left: auto; margin-right: auto;}
.resume {text-decoration: underline;}
.education {text-decoration: underline;}
footer {display: flex;}
nav {background-color: white; border-radius: 3em; padding: 25px;}
@media only screen and (min-width: 800px) {
    .row2 {display: none;}
}
@media only screen and (max-width: 800px) {
    .row1 {display: none;}
}
.row2 .journalism {padding: 15px;}
.row2 .contact {padding: 15px; margin-bottom: 20px;}
#skip {
    position: absolute;
    padding: 10px;
    left: -999px;
}
#skip:focus {
    left: 10px;
}
.dointro {background-color: #112e51; color: white; border-radius: 3em; padding: 20px}
.recovery, .olympics, .wnba, .rowing, .volleyball {display: flex; padding: 20px;}
.samples {background-color: #112e51; color: white; border-radius: 3em; padding: 30px;}
.copy {background-color: #e1f3f8; color: #112e51; padding: 10px; border-radius: 3em;}
.process {background-color: #e1f3f8; color: #112e51; padding: 20px; border-radius: 3em; margin-right: 10px;}
.allwork {text-align: center; background-color: white; padding: 20px; border-radius: 15em; margin: 100px;}
@media only screen and (max-width: 800px) {
    .samples div {flex-wrap: wrap;}
}
@media only screen and (max-width: 800px) {
    .copy, .process {margin: 10px;}
}
.credit {font-size: 10px;}
